@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-brand-teal: #0c8c7c;
  --color-brand-darkTeal: #086357;
  --color-brand-bg: #f8f9fa;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #F8FAFC;
}